---
interface Props {
  inputName: string;
  inputPlaceholder?: string;
}

const { inputName, inputPlaceholder = "" } = Astro.props;
---

<div class="w-full">
  <label
    for={inputName}
    class="hidden"
    >{inputName}</label
  >
  <textarea
    class="border border-slate-900 rounded w-full py-2 px-4 placeholder:capitalize placeholder:text-slate-800 focus:outline-1 focus:outline-slate-900"
    name={inputName}
    placeholder={inputPlaceholder}
    rows="4"
  ></textarea>
  <p class="text-xs text-red-800 mt-1 error-msg hidden"></p>
</div>
