---
import PageTitle from "@components/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getSilosByType } from "@lib/silos";
import type { Silo } from "../../../types/types";
import SiloList from "@components/SiloList.astro";

const { type } = Astro.params;

let silos: Silo[] = [];
if (type)
  try {
    silos = await getSilosByType(type);
  } catch (err) {
    console.error("Error al obtener silos:", err);
  }
---

<Layout
  title={`Remeco - Silos`}
  description=`Silo ${type === "aereos" ? "base aérea" : "comedero autoconsumo"}. Envíos a todo el país. Opciones de financiación. Servicio personalizado pre y post venta.`>
  <PageTitle
    pageTitle={type === "comederos" ? "Silos Comederos" : "Silos Aéreos"}
  />
  <main class="p-4 lg:p-16 md:p-12 w-full">
    <section class="grid grid-cols-2 md:grid-cols-3 lg:gap-12 gap-6">
      <SiloList silos={silos} />
    </section>
  </main>
</Layout>
