---
import ContactDataInfo from "@components/ContactDataInfo.astro";
import ContactForm from "@components/Form/ContactForm.astro";
import GoogleMap from "@components/GoogleMap.astro";
import PageTitle from "@components/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { config } from "@config/config";
---

<Layout>
  <PageTitle pageTitle="Contacto" />
  <main class="section-container grow">
    <section
      class="py-4 flex md:flex-row flex-col-reverse justify-between w-full gap-8 md:gap-12 lg:gap-16">
      <article class="w-full md:w-1/2">
        <h2 class="font-semibold mb-4 text-slate-800">Ubicación y Contactos</h2>
        <ContactDataInfo iconColor="#1d293d" />
        <div class="w-full ] rounded mb-8">
          <GoogleMap />
        </div>
      </article>
      <article class="w-full md:w-1/2">
        <h2 class="font-semibold mb-4 text-slate-800">Dejanos tu mensaje</h2>
        <ContactForm />
      </article>
    </section>
  </main>
</Layout>

<script
  is:inline
  data-astro-rerun
  id="recaptcha-script"
  src={`https://www.google.com/recaptcha/api.js?render=${config.recaptpcha_api_key_public}`}
  async
  defer
></script>
