---
import ContactForm from "../../components/Form/ContactForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="section-container">
    <h1>Contacto</h1>
    <section class="py-4 flex justify-between w-full gap-16">
      <article class="w-full md:w-1/2">
        ACÁ VAN LAS DIRECCIONES Y TELÉFONO
      </article>
      <article class="w-full md:w-1/2">
        <ContactForm />
      </article>
    </section>
  </main>
</Layout>
