---
import { config } from "@config/config";
interface Props {
  silo: string;
  style?: "primary" | "secondary";
}

const whatsappNumber = config.wa_number;
const { silo, style } = Astro.props;

const baseClasses =
  "border px-4 py-2 border-slate-800 rounded w-full text-center";
const styleClasses =
  style === "primary"
    ? "bg-slate-800 text-white hover:bg-white hover:text-slate-800 "
    : "bg-white text-slate-800 hover:bg-slate-800 hover:text-white transition tra";
---

<a
  title="Chatear por Whatsapp"
  href={`https://wa.me/${whatsappNumber}?text=Hola, me contacto a través del sitio web de Silos. Estoy interesado en un ${silo}`}
  class={`${baseClasses} ${styleClasses} transition-all delay-75 self-start`}
  target="_blank">
  Hablar con un asesor
</a>
