---
import ButtonLink from "./ButtonLink.astro";
---

<section class="section-container flex flex-col gap-10 bg-red-800">
  <h2 class="text-center text-gray-100">
    Escribinos y contactate con un representante
  </h2>
  <ButtonLink
    label="Enviar un mensaje"
    link="/contacto"
    style="primary"
  />
</section>
