---
import ButtonLink from "./ButtonLink.astro";
import silosAereos1 from "@assets/images/BannerSiloAereo1.webp";
import silosAereos2 from "@assets/images/BannerSiloAereo2.webp";
import silosComederos1 from "@assets/images/BannerSiloComedero1.webp";
import silosComederos2 from "@assets/images/BannerSiloComedero2.webp";
import { Picture } from "astro:assets";
---

<section class="hero-section w- h-full relative">
  <div class="swiper-hero">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-image">
            <Picture
              alt="Silos Aéreos"
              src={silosAereos1}
              width={800}
              height={800}
              class="object-cover object-center w-full h-full"
              fetchpriority="high"
              layout="constrained"
              formats={["avif", "webp"]}
              fit="cover"
            />
          </div>
          <div class="slide-text">
            <h1 class="text-slate-800 uppercase text-center">Silos Aéreos</h1>
            <p class="text-slate-900">
              Fabricamos silos aéreos de 6 a 200 toneladas.
            </p>
            <ButtonLink
              label="Ver más"
              style="secondary"
              link="/silos/aereos"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-image">
            <Picture
              alt="Silos Aéreos"
              src={silosAereos2}
              width={800}
              height={800}
              class="object-cover object-center w-full h-full"
              fetchpriority="high"
              layout="constrained"
              formats={["avif", "webp"]}
              fit="cover"
            />
          </div>
          <div class="slide-text">
            <h1 class="text-slate-800 uppercase text-center">Silos Aéreos</h1>
            <p class="text-slate-900">
              Fabricamos silos aéreos de 6 a 200 toneladas.
            </p>
            <ButtonLink
              label="Ver más"
              style="secondary"
              link="/silos/aereos"
            />
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-image">
            <Picture
              alt="Silos Comederos"
              src={silosComederos1}
              width={800}
              height={800}
              class="object-center w-full h-full"
              fetchpriority="high"
              layout="constrained"
              fit="cover"
              formats={["avif", "webp"]}
            />
          </div>
          <div class="slide-text">
            <h1 class="text-slate-800 uppercase text-center">
              Silos Comederos
            </h1>
            <p class="text-slate-900">
              Fabricamos silos autoconsumo, de 2 a 18 toneladas.
            </p>
            <ButtonLink
              label="Ver más"
              style="secondary"
              link="/silos/comederos"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-image">
            <Picture
              alt="Silos Comederos"
              src={silosComederos2}
              width={800}
              height={800}
              class="object-center w-full h-full"
              fetchpriority="high"
              layout="constrained"
              fit="cover"
              formats={["avif", "webp"]}
            />
          </div>
          <div class="slide-text">
            <h1 class="text-slate-800 uppercase text-center">
              Silos Comederos
            </h1>
            <p class="text-slate-900">
              Fabricamos silos autoconsumo, de 2 a 18 toneladas.
            </p>
            <ButtonLink
              label="Ver más"
              style="secondary"
              link="/silos/comederos"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next bg-white p-2 rounded-full"></div>
    <div class="swiper-button-prev bg-white p-2 rounded-full"></div>
  </div>
</section>

<style>
  .swiper-hero {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    height: 70vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: #fff;
  }

  .slide-content {
    display: flex;
    width: 100vw;
    height: 100%;
  }

  .slide-image {
    flex: 0 0 60%;
    height: 100%;
  }

  .slide-text {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 1024px) {
    .hero-section {
      height: 50vh;
    }

    .slide-image {
      flex: 0 0 50%;
    }

    .slide-text {
      flex: 0 0 50%;
    }

    .swiper-slide {
      height: 50vh;
    }
  }

  @media (max-width: 1024px) {
    .slide-content {
      flex-direction: column;
    }
    .slide-image,
    .slide-text {
      flex: 0 0 auto;
      width: 100%;
      height: 50%;
    }
    .slide-text {
      padding: 1.5rem;
    }
    .slide-text h2 {
      font-size: 1.8rem;
    }
  }
</style>

<script src="@lib/swiper.js"></script>
