---
interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<h1
  class="border-b border-b-stone-200 text-slate-800 w-full section-container !text-base uppercase">
  {pageTitle}
</h1>
