---
import SiloPrice from "./SiloPrice.astro";
import StringToList from "./StringToList.astro";

interface Props {
  description: string;
  price: string;
  iva_percentage: number;
}

const { description, iva_percentage, price } = Astro.props;
---

<div>
  <p class="mb-2 font-bold text-slate-900 !text-xl">Características:</p>
  <StringToList inputString={description} />
</div>
<SiloPrice
  iva_percentage={iva_percentage}
  price={price}
/>
