---
import type { Silo } from "../types/types";
import GridCard from "./GridCard.astro";

interface Props {
  silos: Silo[];
}

const { silos } = Astro.props;
---

{
  Array.isArray(silos) && silos.length > 0 ? (
    silos.map((silo) => (
      <GridCard
        imageSrc={[silo.image_url, silo.image_url_sm]}
        alt={silo.name}
        title={`Silo ${silo.name}`}
        imgWidth={500}
        imgHeight={500}
        link={`/silos/${silo.silo_type}/${silo.name}`}
      />
    ))
  ) : (
    <p>No hay silos disponibles.</p>
  )
}
