---
import WhatsappIcon from "@assets/images/whatsapp.svg";
import { Picture } from "astro:assets";
---

<button
  class="fixed md:bottom-5 bottom-3 md:right-5 right-3 z-50 rounded-full"
  id="wa-btn">
  <Picture
    src={WhatsappIcon}
    alt="whatsapp icon"
    width={56}
    height={56}
    class="svg"
    layout="constrained"
    fit="cover"
    formats={["avif", "webp"]}
    loading="eager"
  />
</button>

<style>
  .svg {
    border-radius: 100%;
  }
</style>

<script>
  import { config } from "@config/config";
  import { pushGtmEvent } from "@helpers/gtmEvents";

  document.addEventListener("astro:page-load", () => {
    const whatsappNumber = config.wa_number;
    const btn = document.getElementById("wa-btn") as HTMLButtonElement;

    btn.addEventListener("click", () => {
      pushGtmEvent("whatsapp_click", {
        source: "Floating Button",
      });
    });

    btn.addEventListener("click", () => {
      window.open(
        `https://wa.me/${whatsappNumber}?text=Hola, me contacto a través del sitio web de Silos`,
        "_blank"
      );
    });
  });
</script>
