---
interface Props {
  link: string;
  label: string;
  styles?: string;
}

const { link, label, styles = "" } = Astro.props;
---

<li class={`uppercase text-stone-200 flex items-center relative ${styles}`}>
  <a
    title={label}
    href={link}
    class="text-stone-200 text-sm">
    {label}
  </a>
</li>
