---
import Footer from "@components/Footer/Footer.astro";
import Fonts from "@components/head/Fonts.astro";
import Header from "@components/Nav/Header.astro";
import WhatsappButton from "@components/WhatsappButton.astro";
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";

const {
  title = "Remeco - Silos",
  description = "Sitio web de Remeco Silos. Silos aéreos y silos comederos autoconsumo. Envíos a todo el país. Servicio pre y post venta. Opciones de financiación.",
  tags = "Silos, Silos aéreos, Silos Base Aérea, Silos comederos, Silos comederos autoconsumo, Silos autoconsumo, Remeco, Metalúrgica Remeco",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.png"
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <Fonts />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="tags"
      content={tags}
    />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-[100vh]">
    <Header />
    <slot />
    <Footer />
    <WhatsappButton />
  </body>
</html>
