---
import Footer from "@components/Footer/Footer.astro";
import Fonts from "@components/head/Fonts.astro";
import Header from "@components/Nav/Header.astro";
import WhatsappButton from "@components/WhatsappButton.astro";
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";

const {
  title = "Remeco - Silos",
  description = "Sitio web de Remeco Silos. Silos aéreos y silos comederos autoconsumo. Envíos a todo el país. Servicio pre y post venta. Opciones de financiación.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.png"
    />
    <Fonts />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={description}
    />
    <title>{title}</title>
    <script
      src={`https://www.google.com/recaptcha/api.js?render=${import.meta.env.PUBLIC_RECAPTCHA_API_KEY}`}
      async
      defer
    ></script>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-[100vh]">
    <Header />
    <slot />
    <Footer />
    <WhatsappButton />
  </body>
</html>
