---
import Footer from "@components/Footer/Footer.astro";
import Fonts from "@components/head/Fonts.astro";
import Header from "@components/Nav/Header.astro";
import WhatsappButton from "@components/WhatsappButton.astro";
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import MetaTags from "@components/head/MetaTags.astro";
import Sitemap from "@components/head/Sitemap.astro";
import Gtmhead from "@components/head/Gtmhead.astro";
import GtmNoScript from "@components/head/GtmNoScript.astro";
import GtmPageView from "@components/head/GtmPageView.astro";

const {
  title = "Remeco - Silos",
  description = "Sitio web de Remeco Silos. Silos aéreos y silos comederos autoconsumo. Envíos a todo el país. Servicio pre y post venta. Opciones de financiación.",
  tags = "Silos, Silos aéreos, Silos Base Aérea, Silos comederos, Silos comederos autoconsumo, Silos autoconsumo, Remeco, Metalúrgica Remeco",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Gtmhead />
    <MetaTags
      description={description}
      tags={tags}
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.png"
    />
    <Sitemap />
    <Fonts />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-[100vh]">
    <GtmNoScript />
    <Header />
    <slot />
    <Footer />
    <WhatsappButton />
    <GtmPageView />
  </body>
</html>
